<!DOCTYPE html>
<html lang="en">
<head>
    {{>headerLinks}}

    

</head>
<body>
    {{>navbar}}

    <!-- main header -->
    <div class="containter-fluid main_header">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
               <div class="row"> 
                    <!-- left side div -->
                    <div class="col-md-6 col-12 main_header_right align-items-center">
                    <figure>
                        <img src="images/clipart1522048.png" alt="subha" class="img-fluid" title="subha wrokshop">
                    </figure>   
                    </div>
                    <div class="col-md-6 col-12 main_header_left">
                        <p>Welcome to weather app</p>
                        <h1>I AM A <span class="text_clr">Mean Stack Developer</span>Youtube and Freelancer</h1>
                        <a href="facebook.com" target="_subha"><button>About me</button></a>
                        <!-- right side div -->
                        
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- footer code -->
    {{>footer}}
</body>
</html>